.snack_롯데 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}
.snack_해태 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}
.snack_오리온 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}
.snack_삼양 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}
.snack_농심 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}
.snack_청우 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}
.snack_노브랜드 >table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-right:hidden;
    border-left:hidden;
    border-top:hidden;
    border-bottom:hidden;
    text-align: center;
}